<launch>	
    <arg name="scenario"      default="none" />
    <arg name="file_num"      default="0" />
		
	<!--1. Launch Map-->
    <arg name="map_file"    default="$(arg scenario).yaml"                                               />
    <arg name="map_path" default="/home/fer/catkin_ws/src/rodaad/maps/$(arg scenario)/"  />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)$(arg map_file)" />
	
	<!--2. Set simulation time to synchronize bag files and node data-->
	<param name="/use_sim_time" type="bool" value="true"/>
	
	<!--3. Launch Rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/fer/catkin_ws/src/amcl_hybrid/run_amcl/test_amcl.rviz">
	</node>
	
	<!--4. Launch Export Data from testing node -->
	<node pkg="testing_node" type="export_data.py" name="testing_node_export_data" output="screen">
	<param name="file_name"      value="$(arg scenario)_test$(arg file_num)"/>
	<param name="scenario"         value="$(arg scenario)_depth"/>
	</node>	
		
	<!--5. Play odom-gtruth rosbag-->
	<arg name="file2" default="odom5_$(arg scenario)"/>
	<arg name="file3" default="groundtruth_amcl_path_$(arg scenario)"/>
	<arg name="path" default="/home/fer/.ros/"/>
	<node name="player" pkg="rosbag" type="play" output="screen" args="--clock $(arg path)$(arg file3).bag $(arg path)$(arg file2).bag" />
		
	<!--6. Play LASER/DEPTH rosbags -->                                                                    
	<arg name="file1" default="virtual_laser_$(arg scenario)"/>                                       
	<node name="player2" pkg="rosbag" type="play" output="screen" args=" $(arg path)$(arg file1).bag" />
	
	<!--7. Run AMCL node to visualize estimated path -->
	<node pkg="run_amcl" type="run_amcl" name="run_amcl" output="screen">
	</node>
	
	<!--8. Launch AMCL -->
	<arg name="initial_pose_x" default="0.0"/>
	<arg name="initial_pose_y" default="0.0"/>
	<arg name="initial_pose_a" default="0.0"/>
	<arg name="scan_topic" default="/laser" />
	<node pkg="amcl" type="amcl" name="amcl" output="screen">				
		<!--Overall Filter Parameters -->
		<param name="min_particles"       value="100"/>
		<param name="max_particles"       value="5000"/>
		<param name="kld_err"             value="0.01"/>
		<param name="kld_z"               value="0.99"/>
		<param name="update_min_d"        value="0.2"/>
		<param name="update_min_a"        value="0.5"/>
		<param name="resample_interval"   value="2.0"/>
		<param name="transform_tolerance" value="0.1"/>
		<param name="recovery_alpha_slow" value="0.0"/>
		<param name="recovery_alpha_fast" value="0.0"/>
		<param name="initial_pose_x"      value="$(arg initial_pose_x)"/>
		<param name="initial_pose_y"      value="$(arg initial_pose_y)"/>
		<param name="initial_pose_a"      value="$(arg initial_pose_a)"/>
		<param name="gui_publish_rate"    value="-1.0"/>
		
		<!-- Laser Parameters -->
		<remap from="scan" to="$(arg scan_topic)"/>
		<param name="laser_model_type"          value="likelihood_field"/>
		<param name="laser_min_range"           value="-1"/>		
		<param name="laser_max_range"           value="-1"/>
		<param name="laser_max_beams"           value="30"/>
		<param name="laser_z_hit"               value="0.95"/>
		<param name="laser_z_rand"              value="0.05"/>
		<param name="laser_sigma_hit"           value="0.2"/>
		<param name="laser_likelihood_max_dist" value="2.0"/>	
		
		<!-- Odometry Parameters -->
		<param name="odom_model_type" value="diff-corrected"/>
		<param name="odom_frame_id"   value="odom"          />
		<param name="base_frame_id"   value="base_link"     />
		<param name="global_frame_id" value="map"           />
		<param name="tf_broadcast"    value="true"          />
		<param name="odom_alpha_1"    value="0.5" />
		<param name="odom_alpha_2"    value="0.5" />
		<param name="odom_alpha_3"    value="0.5" />
		<param name="odom_alpha_4"    value="0.5" />
	</node>	
	
	<!--9. Call bash script to take screenshot and kill nodes -->
	<node name="test_amcl_screensh_n_kill" pkg="testing_node" type="test_amcl_w_metrics2.bash" output="screen" />

</launch>