<launch>	
    <arg name="scenario"      default="pare" />
	
	<!--1. Set simulation time to synchronize bag files and node data-->
	<param name="/use_sim_time" type="bool" value="true"/>
	
	<!-- Launch Rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/fer/catkin_ws/src/amcl_hybrid/run_amcl/test_amcl.rviz">
	</node>

	<!-- Launch Map-->
    <arg name="map_file"    default="$(arg scenario).yaml"                                               />
    <arg name="map_path" default="/home/fer/catkin_ws/src/rodaad/maps/$(arg scenario)/"  />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)$(arg map_file)" />
		
	<!--4. Play odom-gtruth rosbag-->
	<arg name="file2" default="odom5_pare"/>
	<arg name="file3" default="groundtruth_amcl_path_pare"/>
	<arg name="path" default="/home/fer/.ros/"/>
	<node name="player" pkg="rosbag" type="play" output="screen" args="--clock $(arg path)$(arg file3).bag $(arg path)$(arg file2).bag" />
		
	<!-- Play LASER/DEPTH rosbags -->                                                                    
	<arg name="file1" default="virtual_laser_pare"/>                                       
	<node name="player2" pkg="rosbag" type="play" output="screen" args=" $(arg path)$(arg file1).bag" />
	
	<!--5. Run AMCL node to visualize estimated path -->
	<node pkg="run_amcl" type="run_amcl" name="run_amcl" output="screen">
	</node>
	
	<!--6. Launch AMCL -->
	<arg name="initial_pose_x" default="0.0"/>
	<arg name="initial_pose_y" default="0.0"/>
	<arg name="initial_pose_a" default="0.0"/>
	<arg name="scan_topic" default="/laser" />
	<node pkg="amcl" type="amcl" name="amcl" output="screen">				
		<!--Overall Filter Parameters -->
        <!-- Publish scans from best pose at a max of 10 Hz -->
        <param name="odom_model_type" value="diff"/>
        <param name="odom_alpha5" value="0.1"/>
        <param name="transform_tolerance" value="0.2" />
        <param name="gui_publish_rate" value="10.0"/>
        <param name="laser_max_beams" value="30"/>
        <param name="min_particles" value="500"/>
        <param name="max_particles" value="5000"/>
        <param name="kld_err" value="0.05"/>
        <param name="kld_z" value="0.99"/>
        <param name="odom_alpha1" value="0.2"/>
        <param name="odom_alpha2" value="0.2"/>
        <!-- translation std dev, m -->
        <remap from="scan" to="$(arg scan_topic)"/>
        <param name="odom_alpha3" value="0.8"/>
        <param name="odom_alpha4" value="0.2"/>
        <param name="laser_z_hit" value="0.5"/>
        <param name="laser_z_short" value="0.05"/>
        <param name="laser_z_max" value="0.05"/>
        <param name="laser_z_rand" value="0.5"/>
        <param name="laser_sigma_hit" value="0.1"/>
        <param name="laser_lambda_short" value="0.1"/>
        <param name="laser_lambda_short" value="0.1"/>
        <param name="laser_model_type" value="likelihood_field"/>
        <param name="laser_likelihood_max_dist" value="2.0"/>
        <param name="update_min_d" value="0.2"/>
        <param name="update_min_a" value="0.5"/>
        <param name="resample_interval" value="1"/>
        <param name="transform_tolerance" value="0.1"/>
        <param name="recovery_alpha_slow" value="0.0"/>
        <param name="recovery_alpha_fast" value="0.0"/>
	</node>	
</launch>