<launch>	
	<!-- Launch testing_node -->
	<node pkg="detector" type="detectorSIFT_create_map.py" name="detectorSIFT" output="screen">
	<param name="markers_path" value="/home/fer/Desktop/catkin_ws/src/AMCL_Hybrid/detector/markers_alma/" />
	<param name="num_markers"  value="5" />
	</node>	
</launch>
