<launch>	
	<arg name="initial_pose_x" default="0.0"/>
	<arg name="initial_pose_y" default="0.0"/>
	<arg name="initial_pose_a" default="0.0"/>
	
	<!-- Set simulation time to synchronize bag files and node data-->
	<param name="/use_sim_time" type="bool" value="true"/>
	
	<!-- Map Server -->
	<node pkg="mrpt_map" type="map_server_node" name="map_server_node" output="screen">
	<param name="debug" value="false"/> 
	<param name="frame_id" value="map"/> 
	<param name="frequency" value="1"/> 
	<param name="ini_file" value="$(find odom_data_adapter)/maps/map.ini"/> 
	<param name="map_file" value="$(find odom_data_adapter)/maps/alma.simplemap"/> 
	</node>
		
	<!-- Launch Odom_adapter_node -->
	<node pkg="odom_data_adapter" type="odom_data_adapter" name="odom_data_adapter" output="screen">
	<param name="var_x"     value="0.000025"/> 
	<param name="var_y"     value="0.000025"/> 
	<param name="var_theta" value="0.0000030"/> 
	</node>
	
	<!-- Launch AMCL -->
	<node pkg="amcl" type="amcl" name="amcl" output="screen">	
	
		<!-- General Parameters -->
		<param name="global_frame_id" value="map" />
		<!--param name="initial_pose_x"    value="$(arg initial_pose_x)"/-->
		<!--param name="initial_pose_y"    value="$(arg initial_pose_y)"/-->
		<!--param name="initial_pose_a"    value="$(arg initial_pose_a)"/-->
				
		<!-- Odometry Parameters -->
		<param name="odom_model_type" value="diff-corrected" />
		<param name="odom_frame_id" value="odom" />
		<param name="base_frame_id" value="base_link" />
		<!-- rotational noise -->
		<param name="odom_alpha_1" value="0.8" />
		<param name="odom_alpha_2" value="0.8"/>
		<!-- translational noise -->
		<param name="odom_alpha_3" value="0.1" />
		<param name="odom_alpha_4" value="0.5"/>
		
		<!--Particle Filter Parameters -->
		<param name="kld_err" value="0.1"/>
		<param name="kld_z" value="0.5"/>
		<param name="min_particles" value="500"/>
		<param name="max_particles" value="5000"/>
		<param name="update_min_d" value="0.2"/>
		<param name="update_min_a" value="0.5"/>
		<param name="recovery_alpha_slow" value="0.0"/>
		<param name="recovery_alpha_fast" value="0.0"/>
		<param name="resample_interval" value="1.5"/>
		<param name="transform_tolerance" value="0.1"/>
		<param name="gui_publish_rate" value="10.0"/>
		
		<!-- Laser Parameters -->
		<param name="laser_model_type" value="likelihood_field"/>
		<param name="laser_max_beams" value="30"/>
		<param name="laser_z_rand" value="0.50"/>
		<param name="laser_z_hit" value="0.9"/>
		<param name="laser_sigma_hit" value="0.1"/>
		<param name="laser_likelihood_max_dist" value="4.0"/>
		<param name="laser_max_range" value="4.0"/>
		<param name="laser_min_range" value="0.06"/>		
	</node>
	
	<!-- Play laser and groundtruth rosbags -->
	<arg name="path" default="/home/fer/.ros/"/>
	<arg name="file1" default="laser_data_alma"/>
	<arg name="file2" default="groundtruth_alma"/>
	<node name="player" pkg="rosbag" type="play" output="screen" args="--clock $(arg path)$(arg file2).bag $(arg path)$(arg file1).bag" />
	
</launch>